<h1>Movies</h1>

<div class="container">
  <ul class="list-group">
    <% @movies.each do |movie| %>
      <li class="list-group-item">
        <%= link_to movie.name, movie_path(movie) %>
      </li>
    <% end %>
  </ul>
</div>
