<h1>Movies</h1>

<%= cl_image_tag("imbz5xaqxfli6cls86lv",
      width: 400, height: 300, crop: :fill) %>

<div class="container">
  <%= link_to 'Add a movie', new_movie_path, class: 'btn btn-primary' %>

  <ul class="list-group">
    <% @movies.each do |movie| %>
      <li class="list-group-item">
        <%= link_to movie.name, movie_path(movie) %>
      </li>
    <% end %>
  </ul>
</div>
